body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    text-align: center;
    padding: 50%;
}
.navbar-nav {
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 200px;
    width: 100%;
    display: block;
}
.border-box {
    box-sizing: border-box;
}

h1 {
    padding-right: 50%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#container1 {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100%;
}
.row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 20%;
    background-color: #333;
}

#footer {
    min-height: 80px;
}

#footer {
    min-height: 100px;
    background: #222222;
    color: #fff;
}
